@import './scroll.less';

body {
  box-sizing: border-box;
  background-color: var(--color-bg-1);
}

body[arco-theme='light'] {
  --color-bg-6: #282a36;
}

body[arco-theme='dark'] {
  --color-bg-6: #1e1e1e;
}